/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Sep-2018, 14:13:39
    Author     : stage
*/

$error404-margin-top: 100px;
$error404-input-height: 65px;

$error404-title-color: $header-color;