$filter-button-max-width: 181px;
$filter-button-bg-color: transparent;
$filter-button-color: #000;  
$filter-button-border: 1px solid #434343; 
$filter-button-text-align: center;

$filter-button-after-display: none;
 
$filter-button-current-bg-color: #434343;
$filter-button-current-color: #fff;
$filter-button-current-border: 1px solid transparent;
$filter-button-box-shadow: none;

$filter-button-mobile-wrapper-height: 50px;
$filter-button-mobile-wrapper-position: relative;
$filter-button-mobile-wrapper-width: 80vw;
$filter-button-mobile-wrapper-margin: 0 auto;

$filter-button-mobile-select-padding: 5px 10px;
$filter-button-mobile-select-bg-color: $white;
$filter-button-mobile-select-height: 100%;
$filter-button-mobile-select-width: 100%;

$blocks-item-width: 32%;
$blocks-item-table-width: 48%;
$blocks-item-table-tabletsize: 1024px;
$blocks-item-margin: 0 1% 20px 0;
$blocks-item-max-width: 359px;
$blocks-item-min-width:300px;
$blocks-max-width-stretch-row: 1600px;
$blocks-item-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
$blocks-item-bg-color : #fff;
$blocks-item-image-min-height: 200px;
$blocks-item-text-padding: 25px;
$blocks-item-title-color: $body-color;
$blocks-item-title-hover-color: $body-color;
$blocks-item-title-margin: 0;
$blocks-item-title-fontsize:1em;
$blocks-item-title-minheight: 50px;
$blocks-item-title-padding: 25px;
$blocks-item-text-min-height: 275px; 
$blocks-item-button-padding:20px 30px;

$blocks-item-text-height: 245px;
$blocks-item-notext-height : 340px;

$blocks-item-blogreadmore-overflow: hidden;
$blocks-item-blogreadmore-text-align: left;
$blocks-item-blogreadmore-padding: 0 25px;


/*team*/
$postteam-blocks-block-title-font-weight: 700;
$postteam-blocks-block-title-min-height: 55px;

$postteam-blocks-team-function-min-height: 55px;
$postteam-blocks-font-size-min-height: 0.8em;

$postsocial-jobdescription-padding: 20px 0;

$teammember-blogshadow-padding: 20px;

$postteam-blocks-post-excerpt-min-height: 200px;

$blocks-item-socialicons-fontsize: 0.8em; 
$blocks-item-socialicons-color: $color-8; 

$blocks-icon-margin-top: 25px;
$blocks-icon-width: 100%;
$blocks-icon-height: 100px;
$blocks-icon-1-font-size: 100px;
$blocks-icon-i-text-align: center;
$blocks-icon-i-width: 100%;

$blocks-text-font-size: 1em;
$blocks-text-text-align: center;

$teammember-content-width:60%;
$teammember-content-margin: 0 2% 0 0;
$teamimage-image-width:30%;
$teamimage-image-min-width:300px;
