/*Settings Blog */
$blog-oddpost-bg-color: $color-3;
$blog-evenpost-bg-color: $color-4;
$blog-postentry-margin: 10px 0 0 2%;
$blog-image-width: 25%;
$blog-image-max-width: 200px;
$blog-image-text: 98%;

$blog-text-width: 70%;
$blog-border-bottom: 1px solid $color-2;

$blog-padding: 20px 1%;
$blog-width: 98%;
$blog-text-padding: 0 1%;

$blog-postmeta-font-size: 0.8em;
$blog-postmeta-color: $color-2;
$blog-postmeta-hover-color: $color-2;


$blog-postmeta-font-size:0.8em;
$blog-postmeta-color:$color-14;
$blog-postmeta-hover-color:$color-14;

$blog-posttitle-margin-top: 70px;

$blog-posttekst-margin: 20px;
$blog-posttekst-padding-bottom: 1px;

$blog-singlepost-margin: 70px 0 0 0;

$blog-postsocialmedia-border: none;

$blog-widget-shadow : none;
$blog-widget-border: 1px solid rgba(0,0,0,0.1);
$blog-widget-header-font-size: 1.5em;
$blog-widget-header-font-weight: 400;
$blog-widget-text-font-size: 1em;
$blog-widget-max-width: 395px;

$blog-shadow-author-padding: 0;

$blog-author-block-display: inline-grid;
$blog-author-block-text-align: left;

$blog-author-block-author-details-padding: 15px;
$blog-author-block-author-details-bg-color: $sub-color;
$blog-author-block-author-details-color: $white;

$blog-author-block-img-margin: 0;

$blog-alignnone: 0 20px 20px 0;

$blog-popular-li-margin: 20px 0 0 0;
$blog-popular-li-padding: 0 0 10px 0;
$blog-popular-li-border-bottom: 1px solid $sub-color;
$blog-popular-li-last-border-bottom: none;

$blog-widget-socialicons-height: 32px;
$blog-widget-socialicons-color: $color-1;
$blog-widget-socialicons-bg-color: $color-3;
$blog-widget-socialicons-hover-color: $color-3;
$blog-widget-socialicons-hover-bg-color: $color-1;
$blog-widget-margin-top:90px;

$blog-widget-navigation-color: $color-1;
$blog-widget-navigation-hover-color: $color-1;

$blog-widget-socialicons-border: 1px solid $color-1;
/*Settings Paging*/
$paging-color: $color-2;
$paging-hover-color: $color-2;
$paging-border: 1px solid $color-2; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-jul-2016, 16:54:21
    Author     : sivard
*/
