/*
Main (background)colors
*/
$footertop-bg-color: $color-transparent; //colophon
$footertop-bg-image: url('/wp-content/uploads/2019/01/footer_slider.jpg');
$footertop-bg-position: center center;
$footertop-bg-size: 100%;
$footertop-bg-repeat: no-repeat;
$footertop-min-height: 450px;
$footertop-padding: 50px 0;
$footertop-color: $white;

$footermiddlecontainer-bg-color: $color-transparent; //doormat
$footermiddlecontainer-color: $color-1;

$footerbottomcontainer-bg-color: $white; //footermenu and footer widget
$footerbottomcontainer-color: $color-3;

$footerbottommenucontainer-bg-color: $color-8; //footerbottommenu
$footerbottommenucontainer-color: $white;

/*setting Footer Top container
Widget: colophon*/
$footertop-font-weight: $header-weight;
$footertop-font-size: 1.6em; 
$footertop-lineheight: 75px;
$footertop-padding: 20px;
$footertop-width: 94%;

$footertop-button-bg-color: $color-1;
$footertop-button-color: $color-3;
$footertop-button-hover-bg-color: $color-3;
$footertop-button-hover-color: $color-1;
$footertop-button-padding: 10px 60px;
$footertop-button-font-size: 1em;
$footertop-text-transform: none; //none|capitalize|uppercase|lowercase|initial|inherit;

/*Widget: Footer*/
$footerwidget-border-top: 1px solid $color-1; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 
$footerwidget-widget-text-width: 30%;
$footerwidget-widget-text-min-width: 350px;

$footercontact-color: $color-1;
$footercontact-padding-left: 70px;
$footercontact-icon-width: 30px;
$footercontact-text-align: left;
/*TODO: footercontact text align toevoegen*/

$footericon-top: -60px;

$copyright-color: $color-1;
$copyright-font-size: 1em;

$toTop-bg-color: $color-2;
$toTop-color: $color-3;

/*Settings footer bottom menu container
Menu: top-menu indien in footer 
*/
$footerbottommenucontainer-item-width: 33%;
$footerbottommenucontainer-font-size: 1em;
$footerbottommenucontainer-item-text-align: center;

