/*Settings Header*/
$headercontainer-bg-color: $color-3;
$headercontainer-padding: 40px 0;
$headercontainer-mobile-bg-color: $color-3;

$headertopcontainer-bg-color: $color-8;
$headertopcontainer-color: $color-3;
$headertopcontainer-color-hover: $color-7;

$header-top-widget-weight: 400; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$header-top-widget-color: $color-1;

$topcontact-width: 450px;
$topcontact-icon-width: 30px;
$topcontact-ul-margin: 20px 0px;
$topcontact-li-display: inline-block; //inline-block voor list-items op 1 lijn, block voor onder elkaar

/*search form headermenu*/
$widget-search-bg-color: $color-1;
$widget-search-color: $color-7;

$inputsearch-bg-color: $color-5;
$inputsearch-input-color: $body-color;
$inputsearch-input-bg-color: $color-3;

$searchsubmit-color: $color-7;
$searchsubmit-border-bottom: $mainmenu-header-border-bottom; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 
$searchsubmit-border-hover-bottom: $mainmenu-header-hover-border-bottom; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 

/*Settings Slider
slider: cycloneslider*/
$slider-border-bottom: none; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color]
$slider-caption-background: none repeat scroll 0 0 $color-6;
$slider-caption-title-color: $color-1;
$slider-caption-text-align: center; //left|right|center|justify|initial|inherit;
$slider-caption-max-width: 560px;
$slider-caption-left: 50%; // in percentage
$slider-caption-top: 50%; // in percentage
$slider-caption-translate: translate(-50%, -50%); // in percentage zie https://www.w3schools.com/cssref/css3_pr_transform.asp
$slider-caption-title-font-size: 2.4em;
$slider-caption-title-font-weight: 700; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$slider-caption-title-padding: 0 0 0 0;
$slider-caption-title-lineheight:1.5;
$slider-caption-description-color: $color-1;
$slider-caption-description-font-size: 1.3em;
$slider-caption-description-font-weight: 400; //300,400,700|normal|bold|bolder|lighter|initial|inherit;

$slider-caption-margin-tablet: 0;
$slider-caption-margin: 0;

$slider-caption-description-button-border: $btn-border; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color]
$slider-caption-description-button-margin: 0;
$slider-caption-description-button-padding: 10px 30px;
$slider-caption-description-button-border-radius: $btn-border-radius;
$slider-caption-description-button-bg-color: $btn-bg-color;
$slider-caption-description-button-color: $btn-color;
$slider-caption-description-button-font-size: 0.8em;
$slider-caption-description-button-font-weight: $btn-font-weight; //300,400,700|normal|bold|bolder|lighter|initial|inherit;

$slider-caption-description-button-hover-bg-color: $btn-hover-bg-color;
$slider-caption-description-button-hover-color: $btn-hover-color;
$slider-caption-description-button-hover-border: $btn-hover-border; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color]