/*Settings Topmenu
indien topmenu in header staat*/
$top-menu-fcolor: $color-1;
$top-menu-size: 0.778em;

/*Settings Menu items
Menu: subheadermenu*/
$headermenucontainer-bg-color: $menu-color;

$mainmenu-header-height: 65px;
$mainmenu-header-width: 100%;
$mainmenu-header-bg-color: $color-1;
$mainmenu-header-color: $color-7;
$mainmenu-header-border-bottom: 1px solid $color-1; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 
$mainmenu-header-font-size: 0.89em;

$mainmenu-header-hover-bg-color: $color-1;
$mainmenu-header-hover-color: $color-3;
$mainmenu-header-hover-border-bottom: 1px solid $color-3; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 
$mainmenu-item-height: 64px;
$mainmenu-font-size: 0.89em;
$mainmenu-font-weight: 400; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$mainmenu-text-transform: uppercase; //none|capitalize|uppercase|lowercase|initial|inherit;

/*submenu*/
$mainmenu-submenu-item-color: $color-1;
$mainmenu-submenu-background: none repeat scroll 0 0 $color-3 !important;
$mainmenu-submenu-border-bottom: 1px solid $color-1; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color]
$mainmenu-submenu-opacity: 0.9;

$mainmenu-submenu-item-hover-color: $color-1;
$mainmenu-submenu-item-hover-background: none repeat scroll 0 0 $color-3 !important;
$mainmenu-submenu-item-hover-border-bottom: 1px solid $color-1; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 

$mainmenu-mobile-bg-color: $color-3 !important;
$mainmenu-mobile-color: $mainmenu-submenu-item-color;
$mainmenu-mobile-border-bottom: $mainmenu-submenu-border-bottom; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 

$mainmenu-mobile-hover-bg-color: $color-3 !important;
$mainmenu-mobile-hover-color: $mainmenu-submenu-item-hover-color;
$mainmenu-mobile-hover-border-bottom: $mainmenu-submenu-item-hover-border-bottom; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 
/*max mega menu */
$mainmenu-maxmegamenu-secondlevel-before-content: '-'; //fontawesome

/*
Menu: Doormat-menu in footer and on homepage
*/

/*Settings 
Menu: Doormat-menu*/
$footermiddlecontainer-listitem-width: 31%;
$footermiddlecontainer-listitem-maxwidth: 340px;
$footermiddlecontainer-listitem-padding: 16px 1%;

$footermiddlecontainer-listitem-header-bg-color: transparent;
$footermiddlecontainer-listitem-header-padding-bottom: 205px;
$footermiddlecontainer-listitem-header-padding-top: 5px;
$footermiddlecontainer-listitem-header-font-size: 1.667em;
$footermiddlecontainer-listitem-header-font-weight: 300; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$footermiddlecontainer-listitem-header-color: $color-1;

$footermiddlecontainer-submenu-width: 80%;
$footermiddlecontainer-listitem-text-align: center;

$footermiddlecontainer-listitem-before-content: ''; //fontawesome
$footermiddlecontainer-listitem-before-paddingright: 0;
$footermiddlecontainer-listitem-before-float: none;
$footermiddlecontainer-subitem-padding: 8px 20px;
$footermiddlecontainer-listitem-bg-color: $color-3;
$footermiddlecontainer-listitem-font-size: 1em;
$footermiddlecontainer-listitem-font-weight: 300; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$footermiddlecontainer-listitem-color: $color-1;
$footermiddlecontainer-listitem-margin: 10px auto;
$footermiddlecontainer-listitem-border: 1px solid $color-1; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color]

$footermiddlecontainer-listitem-hover-color: $color-3;
$footermiddlecontainer-listitem-hover-bg-color: $color-1;
$footermiddlecontainer-listitem-hover-border: 1px solid $color-3; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 
$footermiddlecontainer-listitem-hover-text-decoration: none; //none|underline|overline|line-through|initial|inherit;

/*Settings footer bottom container
Menu: footer-menu */
$footermenu-header-margin: 0;
$footermenu-header-width: 24%;
$footermenu-header-padding: 0 1% 10px 0;

$footermenu-color: $color-1;
$footermenu-header-font-size: 1em;
$footermenu-header-font-weight: 700; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$footermenu-header-text-transform: uppercase; //none|capitalize|uppercase|lowercase|initial|inherit;
$footermenu-header-border-bottom: none; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color]

$footermenu-item-color: $color-1;
$footermenu-item-border-top: none; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 
$footermenu-item-font-size: .9em;
$footermenu-item-font-weight: 300; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$footermenu-item-text-transform: none; //none|capitalize|uppercase|lowercase|initial|inherit;