/*settings plugin show logos  */
$logos-buttons-color: $color-1;
$logos-buttons-hover-color: $color-5;
$logos-buttons-left-content: '\f104'; //fontawesome
$logos-buttons-right-content: '\f105'; //fontawesome

/*Settings Number Counter*/
$clnumber-value-color: $color-1;
$clnumber-value-font-size: 80px !important;
$clnumber-value-font-weight: 400;
$clnumber-value-text-transform: uppercase;

$clnumber-title-color: $color-1;
$clnumber-title-font-size: 23px !important;
$clnumber-title-font-weight: 400;
$clnumber-title-text-transform: uppercase;