$popupheader-backgroud-color: #0c5189;
$popupheader-padding: 5% 0 0 0;
$popupheader-height: 46px;
$popupheader-color: #fff;
$popupheader-font-size: 1.6em;

$popuplijst-margin: 10% 0 0 0;
$popuplijst-vink-icon: "\f054";
$popuplijst-vink-color: #66C211;

$popup-button-width: 90%;

$popup-boxshadow: 0px 0px 8px #B9B9B9; 
