/*Settings quickmenu(snelmenu) in widget rechts*/
$quickmenu-before-content: '\f105';
$quickmenu-before-child-content: '-';

$quickmenu-font-size: em(30);
$quickmenu-font-weight: 300; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$quickmenu-bg-color: $color-3;
$quickmenu-color: $color-1;
$quickmenu-hover-color: $color-2;

$quickmenu-header-color: $color-1;
$quickmenu-header-family: $header-family;
$quickmenu-header-font-size: $header-other-size;
$quickmenu-header-font-weight: $header-other-weight;