/*Settings social Icons*/
$socialicons-left-background: $color-5 none repeat scroll 0 0;
$socialicons-left-border-bottom: 6px solid $color-2; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color]
$socialicons-left-hover-background: $color-2 none repeat scroll 0 0;
$socialicons-left-icon-background: #4790cd none repeat scroll 0 0;
$socialicons-left-font-size: 1em;
$socialicons-left-color: $color-2;
$socialicons-left-color-hover: $color-3;

$socialicons-bottom-bg-color: $color-2;
$socialicons-bottom-hover-bg-color: $color-2;
$socialicons-bottom-color: $color-3;
$socialicons-bottom-hover-color: $color-3;
$socialicons-bottom-font-size: 1em;