// variables.scss
//
// Project: Hor Kaal
//
// COLORS -------------------------------------

$black: #000;
$white: #fff;
$transparent: transparent;

$main-color: #271d40; // hoofdkleur
$sub-color: #851e3e; // subkleur

// font colors

$body-color: #373737; // Dit is de kleur van de normale teksten
$header-color: #373737; // Dit is de kleur van de titels
$topmenu-font-color: #373737; // Dit is de kleur van het bovenste gedeelte met contact informatie
$menu-font-color: #373737; // Dit de kleur van het menu

// link color
$link-color: $main-color; // Link kleur
$link-color-hover: $sub-color; // Link kleur on hover


// FONTS -------------------------------------
// Hieronder worden de gebruikte fonts gedefinieerd. 
// Typekit fontÅ

// header
$header-font: 'Fredoka One'; // Zet hier tussen '' de font-family (zoals de family staat aangegeven op Google Fonts.)
$header-weight: 400; // Light - 300 | Regular - 400 | Bold - 700 | ExtraBold - 800  | Black - 900
$header-letter-spacing: letterspacing(0); // Dit is de afstand tussen de letters. Vervang het cijfer door de waarde in Photoshop. [letterspacing(photoshop-value), else em(x)]
$header-text-transform: none; // none | capitalize - Alleen de eerste letters van het woord een hoofdletter | uppercase - Alles met hoofdletters | lowercase - Alles met kleine letters

$header-1-font-size: 45; // Grootte van de H1's in pixels.
$header-2-font-size: 40; // Grootte van de H2's in pixels.

// body
$body-font: 'Montserrat'; // Zet hier tussen '' de font-family (zoals de family staat aangegeven op Google Fonts.)  
$body-weight: 400; // Light - 300 | Regular - 400 | Bold - 700 | ExtraBold - 800  | Black - 900
$body-font-size: 16; // Grootte van het body-font
$body-letter-spacing: letterspacing(0); // Dit is de afstand tussen de letters. Vervang het cijfer door de waarde in Photoshop. [letterspacing(photoshop-value), else em(x)]
$body-line-height: em(32); // Dit is de regelafstand tussen de teksten. Vul hier het getal van Photoshop in (aantal pixels) bij Line Height: em(pixels)

// links
$link-weight: $body-weight; // Light - 300 | Regular - 400 | Bold - 700 | ExtraBold - 800  | Black - 900   ||   default = $body-weight
$link-decoration: none; // Dit is de opmaak van de links. Opties zijn: none|underline|overline|line-through|initial|inherit;
$link-hover-decoration: underline; // Dit is de opmaak van de links. Opties zijn: none|underline|overline|line-through|initial|inherit;

// slider
$slider-title-font: $header-font; // Het font van de slider titel   ||    default = $header-font
$slider-title-font-size: 45; // De grootte van de titel in de slider   ||    default = $header-1-font-size
$slider-title-font-color: $white; // titel kleur

$slider-caption-font: $header-font; // Het font van de subtitel     ||    default = $header-font
$slider-caption-font-size: 25; // subtitel grootte
$slider-caption-font-color: $white; // subtitel kleur


// MENU -------------------------------------

// top menu
$top-menu-font-size: 17; // number - bovenste gedeelte; telefoon nummer etc
$top-menu-font-weight: 700; // Light - 300 | Regular - 400 | Bold - 700 | ExtraBold - 800  | Black - 900

$top-menu-color: #373737; // top menu kleur 
$top-menu-height: 125px; // top menu hoogte

// menu 
$menu-font: $header-font; // font van het menu     ||    $header-font
$menu-font-size: 17; // number - normaal menu
$menu-font-weight: 600; // Light - 300 | Regular - 400 | Bold - 700 | ExtraBold - 800  | Black - 900

$menu-color: #851e3e; // kleur van het menu in RGBA.
$menu-height: 70px; // hoogte van het menu in pixels
$menu-border-color: #434343; //randje van het menu
$menu-color-bottom-border: #271d40; //kleur van het balkje van de huidige pagina
$menu-color-bottom-size: 5px;  // hoogte van de balk 

// sub menu
$sub-menu-font-size: 16; // font grootte van het submenu
$sub-menu-font-weight: $menu-font-weight; // Light - 300 | Regular - 400 | Bold - 700 | ExtraBold - 800  | Black - 900
$submenu-color: $white; //normale achtergrond kleur van de submenu items
$submenu-hover-color: $main-color; // hover kleur van een submenu items
$submenu-opacity: 0.95; //transparantie 0.1 - 1 


// SIDEBAR -------------------------------------
// Dit is de sidebar met Social Media icons aan de linkerzijde.

$sidebar-background-color: rgba(255, 255, 255, 0.9); //sidebar social media background
$sidebar-background-bottom-color: rgba(67, 67, 67, 0.9); //sidebar social media bottom border
$sidebar-background-bottom-height: 5px; //hoogte van het onderste balkje

$sidebar-hover-color: $sub-color; //sidebar social media button hover color


// BUTTONS -------------------------------------
// Hieronder wordt de button-stijl gedefinieerd. 

$button-font: $header-font;  // button font family 
$button-font-size: 0.9em; 
$button-font-weight: 300;
$button-font-color: $white;

$button-text-transform: none; // none | capitalize - Alleen de eerste letters van het woord een hoofdletter | uppercase - Alles met hoofdletters | lowercase - Alles met kleine letters
$button-background-color: $sub-color; // button achtergrond kleur
$button-border-color: none;
$button-border-size: none;

$button-border-left-width: none; // breedte van het streepje naast de buttons. Wanneer deze er niet is, vul hier 0px in.
$button-border-left-color: none; //kleur van de buttons

// hover
$button-hover-background-color: #271d40;
$button-hover-font-color: $white;
$button-hover-border-color: none;

$button-hover-border-left-width: none;
$button-hover-border-left-color: none;


$color-1 : $main-color;
$color-2 : $sub-color;
$color-3 : $white;
$color-4 : #f4f4f7;
$color-5 : $menu-color;
$color-6 : rgba(255, 255, 255, 0);
$color-7 : #e9eff4;
$color-8 : #851e3e;
$color-transparent: $transparent;
$color-14: #4e575a; //blogMetaColor


/* defaults */
$main-width: 100%; 
$main-bg-color: #061e3e;


/* settings body */
$body-family: $body-font;
$body-size: #{$body-font-size}px;
$body-color:$color-1;
$body-weight: $body-weight; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$body-letter-spacing: 0;
$body-bg-color: $main-bg-color;

/*setting Headers*/
$header-family: $header-font;
$header-color: $color-1;
$header-weight: $header-weight; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$header-letter-spacing: 0;

$header1-size: #{$header-1-font-size}px;
$header1-text-transform: $header-text-transform;

$header2-size: #{$header-2-font-size}px;
$header2-text-transform: $header-text-transform;

$header-other-family: $header-font;
$header-other-color: $color-1;
$header-other-weight: 400; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$header-other-letter-spacing: 0;
$header-other-size: 1.3em;
$header-other-text-transform:$header-text-transform;

/*Settings links*/
$a-color: $link-color;
$a-hover-color: $link-color-hover;
$a-hover-decoration: $link-hover-decoration; //none|underline|overline|line-through|initial|inherit;


/*Settings containers*/
$container-size: 1140px;

/*Settings buttons*/
$btn-color: $white;
$btn-font-size: $button-font-size;
$btn-font-weight: $button-font-weight; //300,400,700|normal|bold|bolder|lighter|initial|inherit;
$btn-bg-color: $sub-color;
$btn-border: none; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color] 
$btn-padding: 20px 30px; 
$btn-margin:20px 0;
$btn-alignment: left; //center, left ,right
$btn-border-radius: 0;
$btn-width:0px; //auto als je een buttonn geen vaste breedte wilt geven.


$btn-hover-color: $white;
$btn-hover-bg-color: $button-hover-background-color;
$btn-hover-border: none; //[pixels] [none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit] [color]
$btn-text-transform: none; //none|capitalize|uppercase|lowercase|initial|inherit;

/*Settings breadcrumbs*/
$breadcrumb-fontsize: 0.8em;
$breadcrumb-padding: 100px 0 20px;



