// woocommerce-list.scss
//
// Project: HOR Shop
//
// COLORS -------------------------------------

// Filter
$woo-filter-header-font-size: $woo-font-size-small;
$woo-filter-header-font-weight: $woo-font-bold;
$woo-filter-header-font-color: $woo-main-color;

$woo-filter-font-size: $woo-font-size-small;
$woo-filter-font-weight: $woo-font-light;
$woo-filter-font-color: $woo-main-color;

$woo-filter-background: $woo-main-color;
$woo-filter-selection-color: $woo-filter-font-color;
$woo-filter-selection-background: $woo-sub-color;

// Loop product

$woo-loop-height: 335px;

$woo-loop-border: 1px solid rgba(67, 67, 67, 0.25);
$woo-loop-border-hover: 1px solid rgba(67, 67, 67, 1);
$woo-loop-border-hover-transition: 0.1s all ease-in-out;

$woo-loop-title-size: $woo-font-size-medium;
$woo-loop-title-weight: $woo-font-bold;
$woo-loop-title-color: $woo-main-color;

$woo-loop-stars-size: .957em;

$woo-loop-price-size: $woo-font-size-small;
$woo-loop-price-weight: $woo-font-bold;
$woo-loop-price-color: $price-color-normal;

$woo-loop-price-sale-size: $woo-font-size-small;
$woo-loop-price-sale-weight: $woo-font-bold;
$woo-loop-price-sale-color: $price-color-sale;

$woo-loop-button-size: $woo-font-size-small;
$woo-loop-button-weight: $woo-font-bold;
$woo-loop-button-color: $white;

$woo-loop-button-background: $woo-main-color;
$woo-loop-button-height: 20px;

