// woocommerce-cart.scss
//
// Project: HOR Shop

$woo-cart-button-size: $woo-font-size-small;
$woo-cart-button-color: $white;
$woo-cart-button-background: $woo-main-color;
$woo-cart-button-icon:  '\f054';
