// woocommerce-pay.scss
//
// Project: HOR Shop
//
// COLORS -------------------------------------

// Payment

$woo-checkout-form-headers: $woo-main-color;
$woo-checkout-form-border: 1px solid $woo-main-color;  
$woo-checkout-form-color: $woo-main-color;

$woo-checkout-order-button-color:$white; 
$woo-checkout-order-button-border: 1px solid $woo-main-color; 
$woo-checkout-order-button-background: $woo-main-color; 

$woo-checkout-order-button-hover-color: $woo-main-color; 
$woo-checkout-order-button-hover-border: 1px solid $woo-main-color; 
$woo-checkout-order-button-hover-background: $woo-sub-color; 