// variables.scss
//
// Project: Hor Kaal
//
// COLORS -------------------------------------

$woo-main-color: $main-color; //#434343; // hoofdkleur
$woo-sub-color: #ebe9eb; // subkleur

// font weights

$woo-font-light: 300;
$woo-font-normal: 400;
$woo-font-bold: 700;

$woo-font-size-small: 1em; 
$woo-font-size-medium: 1.1em;
$woo-font-size-large: 1.5em;

// price colors
$price-color-normal: #77a464;
$price-color-sale: #e61e29;

// tables
$woo-table-header-color: $woo-main-color;
$woo-table-header-background: $woo-sub-color;

// Icons \ slash voor het Unicode ID (Font awesome Icons)
$in-stock-icon: '\f058';
$out-of-stock-icon: '\f00d';

// borders
$border-cart-page-border: none;


// Shop Banner
$woo-banner-border: 1px solid $woo-main-color;

$woo-banner-font-size: 1.3em;
$woo-banner-font-weight: $woo-font-bold;
$woo-banner-font-color: $woo-main-color;

$woo-banner-icon: '\f054'; // unicode ID (font awesome)
$woo-banner-icon-color: $woo-main-color;
$woo-banner-icon-font-size: $woo-font-size-medium;


