// woocommerce-detail.scss
//
// Project: HOR Shop


// Single Product
$woo-single-title-size: 45px;
$woo-single-title-weight: $woo-font-normal;
$woo-single-title-letter-spacing: 0px;
$woo-single-title-color: $woo-main-color;

$woo-single-gallery-trigger-background: $woo-main-color;
$woo-single-gallery-trigger-color: $white;

$woo-single-gallery-items-border: 1px solid $woo-main-color;
$woo-single-gallery-items-border-radius: 3px;
$woo-single-gallery-items-padding: 0px;
$woo-single-gallery-items-margin: 0 5px 5px 0;

$woo-single-summary-size: $woo-font-size-small;
$woo-single-summary-weight: $woo-font-normal;
$woo-single-summary-letter-spacing: 0.5px;
$woo-single-summary-color: $woo-main-color;

$woo-single-panel-tabs-background: $woo-sub-color;
$woo-single-panel-tabs-color: $woo-main-color; 
$woo-single-panel-tabs-border: 1px solid #d3ced2;


$woo-single-panel-border: 1px solid #d3ced2;
$woo-single-panel-padding: 15px;
$woo-single-panel-text-align: justify;

$woo-single-price-sale-size: $woo-font-size-small;
$woo-single-price-sale-weight: $woo-font-bold;
$woo-single-price-sale-color: $price-color-sale;

$woo-single-button-size: $woo-font-size-small;
$woo-single-button-padding: 10px 50px 10px 30px;
$woo-single-button-color: $white;
$woo-single-button-background: $woo-main-color;
$woo-single-button-icon:  '\f054';

$woo-single-qty-background: #white;
$woo-single-qty-padding: .4em .4em .4em;
$woo-single-qty-border: 1px solid black;
$woo-single-qty-font-size: 1em;
