/* 
Theme Name:  Het Online Recept
Theme URI:   https://bluemammoth.nl/
Description: Het Online Recept 1.0
Template:    responsivepro
Version:     1.0.1
Author:      Blue Mammoth
Author URI:  https://bluemammoth.nl/
License:     GNU General Public License
License URI: license.txt
*/
@import url('hetonlinerecept.css');

/*header */

/*breadcrumb*/

/*icon button stijling*/
/*#fullcontainer input[type="submit"],*/
#fullcontainer input[type="button"],
#fullcontainer input[type="reset"],
.with_frm_style .frm_submit input[type="submit"],
.with_frm_style .frm_submit input[type="button"],
.frm_form_submit_style,
.with_frm_style.frm_login_form input[type="submit"],
.button,
input.button,
a.moretag,
a.excerpt-more,
#widgets .widget_categories a,
.read-more a,
a.button,
.expertblock a.button,
#widgets a.button {
    transition: 0.1s all ease-in-out;
    border-radius: 10px;
    padding-right: 50px;
}

/*#fullcontainer .with_frm_style .frm_submit input[type="submit"]:hover,*/
#fullcontainer .with_frm_style .frm_submit input[type="button"]:hover,
#fullcontainer .frm_form_submit_style:hover,
#fullcontainer .with_frm_style.frm_login_form:hover,
#fullcontainer input[type="submit"]:hover,
#fullcontainer input[type="button"]:hover,
#fullcontainer input[type="reset"]:hover,
#fullcontainer input.button:hover,
a.moretag:hover,
a.excerpt-more:hover,
.read-more a:hover,
#widgets .widget_categories a:hover,
#widgets a.button:hover,
a.button:hover,
.button:hover,
a.current {
    transition: 0.1s all ease-in-out;
}

.headertoplogo img {
    display: none;
    height: auto;
    width: 96.5%;
}

/* Cyclone Sliders */

#cycloneslider-landing-1 .cycloneslider-caption {
    left: 30%;
}

/* doormat menu */

.headermenucontainer {
    box-shadow: 0px 0px 20px -5px;
}

.toTop {
    box-shadow: 0px 0px 20px -10px;
}

/* mega max menu */

/*blokken module stijling */

.blocks>ul .post-image {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

.blocks>ul>li {
    border-radius: 35px;
}

.blocks>ul>li .blogreadmore a.button {
    display: block;
    margin: 50px auto;
}

.blocks>ul>li .blogreadmore a.button i {
    float: right;
}

/*einde stukje in block sass met variabele zetten */

/* Stijling het team */

/* Stijling nieuws blokken module*/

body #blocks_nieuws .blocks > ul .block-title {
    font-weight: 600;
    font-family: 'Fredoka One';
}


/*widgets*/
#widgets ul.doormatlisting > li:before {
    padding-right: 0;
}

#widgets ul .children {
    padding-right: 20px;
}


/* WooCommerce stijling */

/** Button & form styling **/
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.woocommerce #respond input#submit:after, .woocommerce a.button:after, .woocommerce button.button:after, .woocommerce input.button:after {
    content: '';
}

.woocommerce div.product form.cart .button {
    padding: 10px 30px 10px 30px;
}


/** Archive **/
.woocommerce ul.products li.product {
    border-radius: 25px;
}

.woocommerce ul.products li.product .button {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.woocommerce ul.products li.product .button:after {
    content: '';
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-weight: 300;
}

.product-button i {
    position: absolute;
    left: 12px;
    top: 15px;
    font-size: 1.4em;
    padding-right: 10px;
}

.product-button span {
    font-size: 1em;
}

.product-button del span {
    color: #a29d9d;
    font-size: 0.75em;
}

.bullets ul.sellingpoints {
    border: none;
}

.bullets ul.sellingpoints #warning {
    float: left;
}

.sellingpoints-gradient {
    width: 100%;
    height: 7px;
    background: linear-gradient(260deg, #89253e, #271d40);
    border-radius: 5px;
}

.product-button del span {
    display: none;
}

body #shop-content .woocommerce-message {
    float:right;
}

/** Single **/
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    float: none;
    background-color: #851e3e;
    border: none;
    color: white;
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    top: 1.6em;
    color: white;
}

/*body section.related {*/
    /*float: right;*/
/*}*/

/** Checkout & cart */

.woocommerce-cart table.cart .product-remove {
    width: 50px;
}

.woocommerce a.checkout-button.button.alt.wc-forward {
    padding: 10px 30px 10px 30px;
}

.woocommerce a.checkout-button.button.alt.wc-forward:after, .woocommerce div.product form.cart .button:after {
    content: '';
}

/** Filter & pager **/
.facetwp-page {
    padding: 0px !important;
    width: 24px;
    height: 23px;
    color: #271d40;
    border: 2px solid #271d40;
    font-weight: 600;
    border-radius: 50%;
}

.facetwp-page:hover {
    text-decoration: none;
    cursor: pointer;
    border-color: #851e3e;
}

.facetwp-page.active {
    color: white;
    background-color: #271d40;
}


.facetwp-pager-label {
    display: none !important;
}

.products-sort {
    float: right;
}

body input.facetwp-slider-reset {
    display: none !important;
}

select.facetwp-sort-select {
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
}

span.facetwp-counter {
    display: none;
}

/*#dienstenwidget*/

/*posts*/

/*Team*/

/* Blokkenmodule nieuws */

/*contact*/

/*Footer*/
#footertopcontainer .widget_text a {
    color: #fff;
    border: 1px solid transparent;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    margin: 1em 0em;
    font-size: 0.5em;
    background-color: #851e3e;
    border-radius: 10px;
    font-weight: 300;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

#footertopcontainer .widget_text a:hover {
    text-decoration: none;
    border: 1px solid #fff;
    box-shadow: none;
    transition: 0.25s all;
}

body .colophon-button i {
    padding-left: 10px;
}

body .Colofon_Text {
    font-size: 2em;
    font-weight: 300;
    margin-top: 140px;
    text-align: left;
    font-family: 'Fredoka One';
}

/*footermiddlecontainer*/

/* Footer - 'Over Ons' gedeelte */

#footerbottomcontainer #container > .grid {
    padding: 0;
}

#footerbottomcontainer #container .footer-menu ul.sub-menu li:hover a:before {
    text-decoration: none;
}

#footerbottomcontainer #container .footer-menu ul.sub-menu li a:before {
    font-family: 'FontAwesome';
    content: '\f105';
    font-weight: 300;
    font-size: 1.2em;
    color: #000;
    margin-right: 10px;
    display: inline-block;
}

/*search*/

/*eind 404 stijling*/

/* TABLET STYLING */
@media (max-width: 1024px) {

}

@media (max-width: 980px) {
    body .woocommerce .page-product ul.products {
        width: 100%;
    }

    body .woocommerce .page-product ul.products li.product {
        width: 21.05%;
    }
}

/* tablet portrait / phone landscape */
@media (max-width: 900px) {
    .teammember .teammember-image {
        min-width: 0;
    }
}

@media (max-width: 768px) {

    body .woocommerce .page-product ul.products li.product {
        width: 47.5%;
        min-height: 400px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    #mega-menu-wrap-sub-header-menu #mega-menu-sub-header-menu li#mega-menu-item-2476 > a.mega-menu-link:after {
        display: inline-block;
        font-family: FontAwesome;
        margin-left: 10px;
        text-align: center;
        content: '\f105';
        font-size: 1.4em;
        position: absolute;
        right: 20px;
        top: 0;
    }

    body .mobile-logo {
        display: none;
    }

    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        display: none;
    }

    #footerbottommenucontainer .footerbottom-menu li a {
        font-size: 0.8em;
        font-weight: 600;
    }

    body #footertopcontainer {
        min-height: 275px;
    }

    body .Colofon_Text {
        margin-top: 60px;
    }

    body .home-logo {
        display: none;
    }

}


/* MOBILE STYLING */
@media (max-width: 425px) {

    #mega-menu-wrap-sub-header-menu #mega-menu-sub-header-menu li#mega-menu-item-2476 > a.mega-menu-link:after {
        display: inline-block;
        font-family: FontAwesome;
        margin-left: 10px;
        text-align: center;
        content: '\f105';
        font-size: 1.4em;
        position: absolute;
        right: 20px;
        top: 0;
    }

    .headertoplogo img {
        display: block;
    }

    body #footertopcontainer {
        display: none;
    }

    #footerbottomcontainer #container .footer-menu .sub-menu > li {
        font-size: 15px;
    }


    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        display: block;
        margin: 0;
        margin-bottom: 15px;
    }

    .woocommerce a.checkout-button.button.alt.wc-forward {
        width: 33vh;
    }

    body .woocommerce .related ul.products li.product {
        min-height: 325px;
    }

    body .woocommerce .page-product ul.products {
        width: 100%;
    }

    body .woocommerce .page-product ul.products li.product {
        width: 48%;
        min-height: 300px;
    }

    .products-sort {
        float: right;
        width: 100%;
        height: 30px;
        margin: 25px 0px;
    }

    body .product-button span {
        font-size: 0.75em;
    }

    select.facetwp-sort-select {
        width: 100%;
        height: 100%;
    }
}