/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Sep-2018, 14:10:31
    Author     : Sivard Donkers
*/

#post-0.error404{
    margin-top: $error404-margin-top;
    input[type="text"]{
        height: $error404-input-height;
    }
    .title-404{
        color: $error404-title-color;
    }
    #searchsubmit{
        margin-left: -5px;
    }
}

