.filterbuttons ul, .blocks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filterbuttons {
    display: block;
    padding: 0;
    text-align: center;
    li {
        display: inline-block;
        margin-right: 15px;
        a.button {
            max-width: $filter-button-max-width;
            padding: 19.5px 0;
            background-color: $filter-button-bg-color;
            color: $filter-button-color;
            border: $filter-button-border;
            text-align: $filter-button-text-align;
        }
        a.button:after{
            display: $filter-button-after-display;
        }
        a:hover,
        a.current {
            background-color: $filter-button-current-bg-color;
            color: $filter-button-current-color;
            border: $filter-button-current-border;
            box-shadow: $filter-button-box-shadow;
        }
    }
    &.mobile {
        padding: 10px;
        .wrapper{
            height: $filter-button-mobile-wrapper-height;
            position: $filter-button-mobile-wrapper-position;
            width: $filter-button-mobile-wrapper-width;
            margin: $filter-button-mobile-wrapper-margin;
        }
        select {
            padding: $filter-button-mobile-select-padding;
            background-color: $filter-button-mobile-select-bg-color;
            height: $filter-button-mobile-select-height;
            width: $filter-button-mobile-select-width;
        }
    }
    .wrapper {
        height: 100px;
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

.vc_row[data-vc-stretch-content=true] .blocks {
    width: 100%;
    margin: 0 auto;
    max-width: $blocks-max-width-stretch-row;
}

.blocks {
    /*    display: inline-block;*/
    .scroller {
        width: 100%;
        float: left;
    }
    .LoadingIndication,
    .loadMore {
        float: left;
        width: 100%;
        text-align: center;
        display: none;
    }

    .noposts{
        .icon {
            margin-top: $blocks-icon-margin-top;
            width: $blocks-icon-width;
            height: $blocks-icon-height;
            i {
                font-size: $blocks-icon-1-font-size;
                text-align: $blocks-icon-i-text-align;
                width: $blocks-icon-i-width;
            }
        }
        .text {
            font-size: $blocks-text-font-size;
            text-align: $blocks-text-text-align;
        }
    }


    > ul {
        max-width: 100%;
        text-align: left;
        margin: 0 auto;
        > li {
            height: $blocks-item-text-height + $blocks-item-notext-height;
            width: $blocks-item-width;
            max-width: $blocks-item-max-width;
            min-width: $blocks-item-min-width;
            margin: $blocks-item-margin;
            display: inline-block;
            box-shadow: $blocks-item-box-shadow;
            text-align: left;
            background-color: $blocks-item-bg-color;
            position: relative;
            float: left;
            .post-entry {
                overflow: hidden;
                text-align: left;
                padding: $blocks-item-text-padding;
                height: $blocks-item-text-height;
            }
            .blogreadmore {
                overflow: $blocks-item-blogreadmore-overflow;
                text-align: $blocks-item-blogreadmore-text-align;
                padding: $blocks-item-blogreadmore-padding;
                a.button {
                    width: calc(100% - 60px);
                    padding: $blocks-item-button-padding;
                }
            }
            .blogreadmore2 {
                padding: 20px 25px;
            }

        }

        .youtube {
            background-color: $blocks-item-bg-color;
            position: relative;
            padding-top: $blocks-item-image-min-height;
            overflow: hidden;
            cursor: pointer;
            img {
                width: 100%;
                top: -29.84%;
                left: 0;
                opacity: 0.7;
                cursor: pointer;
                position: absolute;
            }
            .play-button {
                width: 90px;
                height: 60px;
                background-color: #333;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
                z-index: 1;
                opacity: 0.8;
                border-radius: 6px;
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                &:before {
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    position: absolute;
                    content: "";
                    border-style: solid;
                    border-width: 15px 0 15px 26.0px;
                    border-color: transparent transparent transparent #fff;
                }
            }
            iframe {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }

        }
        .post-image {
            min-height: $blocks-item-image-min-height;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .block-title {
            padding-bottom: 10px;
            line-height: 1.5em;
            margin: $blocks-item-title-margin;
            font-size: $blocks-item-title-fontsize;
            a {
                color: $blocks-item-title-color;
                &:hover {
                    color: $blocks-item-title-hover-color;
                }
            }
        }
        .post-excerpt {
            min-height: $blocks-item-text-min-height;
            line-height: 1.5em;
        }
    }

    &.mobile {
        white-space: nowrap;
        > ul {
            position: relative;
            width: auto;
            * {
                white-space: normal;
            }
            > li {
                display: inline-block;
                width: 80vw;
                margin-right: 10px;
                float: none;
            }
        }
    }
}

.socialicons-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    & > li {
        float: left;
        width: 100%;
        a {
            font-size: $blocks-item-socialicons-fontsize;
            color: $blocks-item-socialicons-color;
            i {
                padding-right: 20px;
            }
        }
    }
}

.socialicons-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    & > li {
        float: left;
        width: 100%;
        a {
            font-size: $blocks-item-socialicons-fontsize;
            color: $blocks-item-socialicons-color;
            i {
                padding-right: 20px;
            }
        }
    }
}

/*team block list*/
.post_team.blocks{
    > ul{
        > li{
            .block-title {
                font-weight: $postteam-blocks-block-title-font-weight;
                min-height: $postteam-blocks-block-title-min-height;
            }
            .team-function {
                min-height: $postteam-blocks-team-function-min-height;
                font-size: $postteam-blocks-font-size-min-height;
            }
        }
        .post-excerpt {
            min-height: $postteam-blocks-post-excerpt-min-height;
        }
    }
}


/*teammember*/
.teammember {
    display: inline-block;
    &.blogshadow{
        padding: $teammember-blogshadow-padding;
    }
    .teammember-content {
        float: right;
        width: $teammember-content-width;
        margin: $teammember-content-margin;
    }
    .teammember-image {
        float: left;
        width: $teamimage-image-width;
        min-width: $teamimage-image-min-width;
        .post-image {
            text-align: center;
        }

    }
    .post-social{
        .jobdescription{
            padding: $postsocial-jobdescription-padding;
        }
    }
}

@media (max-width: $blocks-item-table-tabletsize) {
    .post_team.blocks > ul > li,
    .blocks > ul > li {
        width: $blocks-item-table-width;
        float:none;
    }
    .post_team.blocks > ul,
    .blocks > ul  {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .teammember {
        .teammember-image,
        .teammember-content {
            float: none;
            width: 100%;
        }
    }

    .blocks {
        padding-left: 0;
        > ul {
            text-align: center;
            > li {
                width: 100%;
                margin-right: 0;
                float: none;
            }
        }

    }

}
