/*postlisting*/
#content-archive > div:not(.navigation),
#content-blog > div:not(.navigation),
#content-search > div:not(.navigation) {
    border-bottom:$blog-border-bottom;
}
#content-archive .post-entry .read-more,
#content-search .post-entry .read-more,
#content-blog  .post-entry .read-more{
    float:none;
    width:auto;
}
.oddpost{
    background-color: $blog-oddpost-bg-color;
    padding: $blog-padding;
    display:inline-block;
    width:$blog-width;
    .post-title {
        width:100%;
    }
    .post-image {
        float: left;
    }
    .post-entry{
        margin: $blog-postentry-margin;
        p{
            margin:0;
        }
        .read-more{
            text-align: right;
        }
    }
    .post-data{display:none;}
}
.evenpost{
    background-color: $blog-evenpost-bg-color;
    padding: $blog-padding;
    display:inline-block;
    width:$blog-width;
    .post-title {
        width:100%;
    }
    .post-entry{
        margin: $blog-postentry-margin;
        p{
            margin:0;
        }
        .read-more{
            text-align: right;
        }
    }
    .post-image {
        float: left;
    }
    .post-data{display:none;}
}
.contentblogtext{
    padding: $blog-text-padding;
    width: $blog-width;
}
#content-archive,
#content-search,
#content-blog{
    .post-image{
        width:$blog-image-width;
        max-width:$blog-image-max-width;
    }

    .post-entry{
        width:$blog-text-width;
        float:left;
        clear: none;
    }
}

#content-search .post-entry.full-width,
#content-blog .post-entry.full-width{
    width:100%;
}


.post-meta .byline .author,
.post-meta .byline {
    padding-left: 5px;
    margin-left: 0;
}
.post-entry .read-more{
    float:right;
    padding-right: 20px;
}

h2.post-title{
    margin: 10px 0;
    a:hover{
        color: $blog-postmeta-hover-color;
    }
}

.post-meta{
    color: $blog-postmeta-color;
    font-size: $blog-postmeta-font-size;
    a:hover,
    a{
        color: $blog-postmeta-color;
    }
}


/*blog detailpagina*/
.single-post{
    #widgets{
        margin-top: $blog-widget-margin-top;
    }
    .post-title{
        margin-top: $blog-posttitle-margin-top;
    }
    .post-text{
        margin: $blog-posttekst-margin;
        padding-bottom: $blog-posttekst-padding-bottom;
        p{
            margin-top: $blog-singlepost-margin;
        }
    }
    .post-socialmedia{
        border: $blog-postsocialmedia-border;
    }

    .author_block{
        display: $blog-author-block-display;
        text-align: $blog-author-block-text-align;
        .author_details{
            padding: $blog-author-block-author-details-padding;
            background-color: $blog-author-block-author-details-bg-color;
            color: $blog-author-block-author-details-color;
        }
        .author_image{
            img{
                margin: $blog-author-block-img-margin 0;
            }
        }
    }
    .alignnone{
        margin: $blog-alignnone;
    }
}

.popular_posts{
    li{
        margin: $blog-popular-li-margin;
        padding-bottom: $blog-popular-li-padding;
        border-bottom: $blog-popular-li-border-bottom;
        &:last-child{
            border-bottom: $blog-popular-li-last-border-bottom;
        }
    }
}

#widgets .textwidget > div{
    box-shadow: $blog-widget-shadow;
    padding: 20px;
    margin-top: 10px;
    border: $blog-widget-border;


    &.author_block{
        padding: $blog-shadow-author-padding;
    }
}

.author_block{
    text-align: center;
    .author_name {
        font-size: $blog-widget-header-font-size;
        font-weight: $blog-widget-header-font-weight;
    }
    .author_text {
        font-size:  $blog-widget-text-font-size;
    }
}

#wrapper {
    #widgets {
        .textwidget{
            max-width: $blog-widget-max-width;
        }
        #searchform {
            #searchsubmit {
                margin-top: 20px;
                width: 100%;
                background-color: $btn-bg-color;
                color: $btn-color;
            }
            .inputsearch_area #s {
                box-shadow: none;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    //TODO padding, height, margin, dynamisch maken
    .navigation {
        padding: 20px;
        display: block;
        height: 28px;
        line-height: 28px;
        margin: 30px 0;
        a {
            font-weight: 400;
            color: $blog-widget-navigation-color;
            text-decoration: none;
            &:hover{
                color: $blog-widget-navigation-hover-color;
            }
        }
    }
    .post-socialmedia{
        min-height: 50px;
        padding: 20px;
        margin: 20px 0;

        .post-socialmedia-text{
            display: inline-block;
            float: left;
            line-height: 45px;
            min-width: 150px;
        }

        .addtoany_list.a2a_kit_size_32 a{
            margin-top: 5px;

        }

        .addtoany_shortcode{
            float: right;
        }
        .addtoany_list{
            a span.a2a_svg {
                display: none;
            }
            a.a2a_button_email::before {
                content: "\f0e0";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
            a.a2a_button_twitter::before {
                content: "\f099";
            }
            a.a2a_button_google_plus::before {
                content: "\f0d5";
            }
            a.a2a_button_facebook::before {
                content: "\f39e";
            }
            a.a2a_button_linkedin::before {
                content: "\f0e1";
            }
            &> a:before {
                border-radius: 50%;
                display: inline-block;
                font-family: "Font Awesome 5 Brands";
                font-weight: 400;
                background-color: $blog-widget-socialicons-bg-color;
                border: $blog-widget-socialicons-border;
                color: $blog-widget-socialicons-color;
                font-size: $socialicons-bottom-font-size;
                line-height: $blog-widget-socialicons-height;
                margin-right: 10px;
                text-align: center;
                width: $blog-widget-socialicons-height;
                height: $blog-widget-socialicons-height;
            }
            &> a:hover:before {
                color: $blog-widget-socialicons-hover-color;
                background-color: $blog-widget-socialicons-hover-bg-color;
            }
        }

    }
}

/*einde detail pagina*/


@media (max-width: 650px) {
    #content-archive .post-entry,
    #content-archive .post-image,
    #content-search .post-entry,
    #content-search .post-image,
    #content-blog .post-entry,
    #content-blog .post-image{
        float:none;
        width:auto;
    }
    #wrapper .post-socialmedia{
        min-height: 75px;
    }
    #wrapper #widgets .textwidget{
        margin:0 auto;
    }
}