#fullcontainer input[type="submit"],
#fullcontainer input[type="button"],
#fullcontainer input[type="reset"],
.with_frm_style .frm_submit input[type="submit"],
.with_frm_style .frm_submit input[type="button"],
.frm_form_submit_style,
.with_frm_style.frm_login_form input[type="submit"],
.button,
input.button,
a.moretag,
a.excerpt-more,
#widgets .widget_categories a,
.read-more a,
a.button,
.expertblock a.button,
#widgets a.button {
  box-shadow: none;
  text-shadow: none;
  font-weight: $btn-font-weight;
  background-image: none;
  background-color: $btn-bg-color;
  display: inline-block;
  color: $btn-color;
  margin: $btn-margin;
  padding: $btn-padding;
  position: relative;
  border: $btn-border;
  border-radius: $btn-border-radius;
  text-align: $btn-alignment;
  text-transform: $btn-text-transform;
  font-size: $btn-font-size;
  line-height: 1;
  min-width: $btn-width;
}

.expertblock a.button,
#widgets a.button {
  padding: 16px 0;
  width: $main-width;
}

#fullcontainer .with_frm_style .frm_submit input[type="submit"]:hover,
#fullcontainer .with_frm_style .frm_submit input[type="button"]:hover,
#fullcontainer .frm_form_submit_style:hover,
#fullcontainer .with_frm_style.frm_login_form:hover,
#fullcontainer input[type="submit"]:hover,
#fullcontainer input[type="button"]:hover,
#fullcontainer input[type="reset"]:hover,
#fullcontainer input.button:hover,
a.moretag:hover,
a.excerpt-more:hover,
.read-more a:hover,
#widgets .widget_categories a:hover,
#widgets a.button:hover,
a.button:hover,
.button:hover,
a.current {
  text-shadow: none;
  background-image: none;
  background-color: $btn-hover-bg-color;
  color: $btn-hover-color;
  border: $btn-hover-border;
  text-decoration: none;
}
