.clnumber {
  .cl-counter-value {
    color: $clnumber-value-color;
    font-size: $clnumber-value-font-size;
    font-weight: $clnumber-value-font-weight;
    text-transform: $clnumber-value-text-transform;
  }
  .cl-counter-title {
    color: $clnumber-title-color;
    font-size: $clnumber-title-font-size;
    font-weight: $clnumber-title-font-weight;
    text-transform: $clnumber-title-text-transform;
  }
}