body .cycloneslider {
  float: none;
  margin: 0 auto;
  background: none;
  border-bottom: $slider-border-bottom;
  .cycloneslider-caption-title {
    text-align: $slider-caption-text-align;
    color: $slider-caption-title-color;
    font-size: $slider-caption-title-font-size;
    font-weight: $slider-caption-title-font-weight;
    padding:$slider-caption-title-padding;
    line-height:$slider-caption-title-lineheight;
    img {
      display: inline-block;
    }
  }

  .cycloneslider-template-default .cycloneslider-caption{
    margin: 0 !important;


  }
  /*
  .cycloneslider-template-default .cycloneslider-caption-title{
      line-height: 128px!important;
  }*/
  .cycloneslider-caption {
    color: $slider-caption-title-color;
    background: $slider-caption-background;
    max-width: $slider-caption-max-width;
    height: auto;
    margin: $slider-caption-margin;
    left:$slider-caption-left;
    top: $slider-caption-top;
    transform: $slider-caption-translate;
  }
  .cycloneslider-caption-description {
    text-align: $slider-caption-text-align;
    font-size: $slider-caption-description-font-size;
    font-weight: $slider-caption-description-font-weight;
    color: $slider-caption-description-color;
    padding-top: 10px;
    a {
      background-color: $slider-caption-description-button-bg-color;
      color: $slider-caption-description-button-color;
      border: $slider-caption-description-button-border;
      font-weight: $slider-caption-description-button-font-weight;
      font-size: $slider-caption-description-button-font-size;
      border-radius: $slider-caption-description-button-border-radius;
      padding: $slider-caption-description-button-padding;
      margin: $slider-caption-description-button-margin;
      i {
        margin-right: 30px;
      }
      &:hover {
        background-color: $slider-caption-description-button-hover-bg-color;
        color: $slider-caption-description-button-hover-color;
        border: $slider-caption-description-button-hover-border;
      }
    }
  }
}

@media (max-width: 1024px) {
  body .cycloneslider .cycloneslider-caption {
    margin: $slider-caption-margin-tablet;
  }
}

@media (max-width: 650px) {
  body .cycloneslider {
    display: none;
    visibility: hidden;
  }
  .fixslider {
    top: 0;
    position: relative;
  }
}

