$expert-header-font-size: 1.2em;
$expert-item-width: 25%;
$expert-item-bg-color: #406199;
$expert-item-color: #fff;
$expert-item-border-radius: 15px;

$expert-item-hover-bg-color: #E37222;
$expert-item-hover-color: #fff;

$expert-image-height: 150px;
$expert-image-width: 150px;
$expert-image-border-radius: 75px;

$expert-post-image-width: 40%;
$expert-post-text-width: 60%;

/* expertblock */
.expertblock {
  position: relative;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  h2,
  h2 a {
    font-size: $expert-header-font-size;
    margin: 0;
    text-align: center;
  }
  p {
    text-align: center;
    padding: 5px 0;
    margin: 0;
  }
  .text {
    padding: 0 20px;
    > ul > li {
      width: $expert-item-width;
      float: left;
    }
    .sociallinks {
      margin: 0 auto;
      width: 100%;
      display: table;
      text-align: center;
      li {
        text-align: center;
        display: inline-block;
        float: none;
        font-size: 0.5em;
        padding: 10px 5px;
        i {
          background-color: $expert-item-bg-color;
          color: $expert-item-color;
          width: 30px;
          height: 30px;
          border-radius: $expert-item-border-radius;
          line-height: 30px;
          &:hover {
            background-color: $expert-item-hover-bg-color;
            color: $expert-item-hover-color;
          }
        }
      }
    }
  }
  .image {
    text-align: center;
    padding: 5px 0;
    margin: 0;
    img {
      border-radius: $expert-image-border-radius;
      height: $expert-image-height;
      width: $expert-image-width;
    }
  }
}

.post-entry.expert {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .image {
    float: left;
    width: $expert-post-image-width;
    text-align: right;
    img {
      border-radius: $expert-image-border-radius;
    }
  }
  .text {
    float: left;
    width: $expert-post-text-width;
    min-height: 320px;
    text-align: left;
    h1 {
      text-align: center;
    }
  }
  .sociallinks {
    margin: 0 auto;
    width: 100%;
    display: table;
    text-align: center;
    li {
      text-align: center;
      display: inline-block;
      float: none;
      font-size: 0.5em;
      padding: 10px 5px;
      i {
        background-color: $expert-item-bg-color;
        color: $expert-item-color;
        width: 30px;
        height: 30px;
        border-radius: $expert-item-border-radius;
        line-height: 30px;
        &:hover {
          background-color: $expert-item-hover-bg-color;
          color: $expert-item-hover-color;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .expertblock > ul > li {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .post-entry.expert .image,
  .post-entry.expert .text,
  .expertblock > ul > li {
    width: 100%;
    float: none;
  }
  .post-entry.expert .text {

    min-height: auto;
  }
}