#footermiddlecontainer {
  background-color: $footermiddlecontainer-bg-color;
  .widget_text a {
    color: $footermiddlecontainer-color;
    &:hover {
      text-decoration: underline;
    }
  }
  .header-menu {
    > li {
      > a {
        color: $color-3;
      }
    }
  }
}