// footer-menu
#footerbottomcontainer #container .footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;

    > li {
        float: left;
        line-height: 2.5em;
        margin: $footermenu-header-margin;
        padding: $footermenu-header-padding;
        text-align: left;
        width: $footermenu-header-width;

        &:last-child {
            margin-right: 0;
        }

        > a {
            color: $footermenu-color;
            font-size: $footermenu-header-font-size;
            font-weight: $footermenu-header-font-weight;
            text-transform: $footermenu-header-text-transform;
            border-bottom: $footermenu-header-border-bottom;
            display: inline-block;
            width: 100%;
            padding: 0;
        }
    }

    li a {
        border-left: none;
    }

    ul.sub-menu {
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border-top: $footermenu-item-border-top;

        li {
            line-height: 2.1em;
            text-align: left;
            display: block;

            &:hover a {
                text-decoration: underline;
            }

            a {
                color: $footermenu-item-color;
                font-size: $footermenu-item-font-size;
                font-weight: $footermenu-item-font-weight;
                text-transform: $footermenu-item-text-transform;
                width: 100%;
                border-left: none;
                padding: 0;
            }
        }
    }
}

// footerbottom menu
#footerbottommenucontainer {
    //background-color: $footerbottommenucontainer-bg-color;
    background: linear-gradient(90deg, #89253e, #271d40);
    padding: 10px;

    .footerbottom-menu {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;

        li {
            float: left;
            width: $footerbottommenucontainer-item-width;
            text-align: $footerbottommenucontainer-item-text-align;

            a {
                font-size: $footerbottommenucontainer-font-size;
                color: $footerbottommenucontainer-color;
                font-weight: $body-weight;
                border: none;
            }
        }
    }
}

@media (max-width: 650px) {
    #footerbottommenucontainer .footerbottom-menu > li,
    #footerbottomcontainer #container .footer-menu > li {
        width: 94%;
        margin: 10px 3%;
        min-width: 0;
        font-size: 1em;
    }
}


