#footertopcontainer {
    background-color: $footertop-bg-color;
    background-image: $footertop-bg-image;
    background-position: $footertop-bg-position;
    background-size: $footertop-bg-size;
    background-repeat: $footertop-bg-repeat;
    max-width: $main-width;
    min-height: $footertop-min-height;
    padding: $footertop-padding;
    margin: 0;
    .widget_text a {
        color: $footertop-button-color;
        &:hover {
            text-decoration: underline;
        }
    }
    .appointment_text {
        color: $footertop-color;
        font-size: $footertop-font-size;
        font-weight: $footertop-font-weight;
        line-height: $footertop-lineheight;
        text-transform: $footertop-text-transform;
    }
    a.appointment_button {
        background-color: $footertop-button-bg-color;
        padding: $footertop-button-padding;
        font-size: $footertop-button-font-size;
        margin-left: 50px;
        text-transform: $btn-text-transform;
        white-space: nowrap;
        &:hover {
            background-color: $footertop-button-hover-bg-color;
            color: $footertop-button-hover-color;
            text-decoration: none;
        }
    }
}

#colophon-widget {
    padding: $footertop-padding;
    margin: 0;
    background-color: $footertop-bg-color;
    color: $footertop-color;
    width: $footertop-width;
    .widget-wrapper {
        padding: 0;
    }
    .textwidget {
        text-align: center;
    }
    .lshowcase-logos {
        .bx-wrapper {
            .bx-controls-direction a {
                text-indent: 0;
            }
            .bx-prev,
            .bx-next {
                background: none;
                color: #fff;
                height: 32px;
                width: 32px;
                line-height: 32px;
                &:before {
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    font-size: 32px;
                    padding-right: 10px;
                    display: inline-block;
                    color: $a-color;
                    &:hover {
                        color: $a-hover-color;
                    }
                }
            }
            .bx-prev:before {
                content: '\f104';
            }
            .bx-next:before {
                content: '\f105';
            }
        }
    }
}

@media (max-width: 650px) {
    #footertopcontainer a.appointment_button {
        margin: 0;
    }
}


