#footerbottomcontainer {
  max-width: $main-width;
  padding: 0;
  margin: 0;
  background-color: $footerbottomcontainer-bg-color;

  .widget_text a:not([class="button"][id="hreftotop"]) {
    color: $footerbottomcontainer-color;
    &:hover {
      text-decoration: underline;
    }
  }

  #container > .grid {
    padding: 40px 0;
    margin: 0;
  }
  .footer-title {
    font-family: $header-other-family;
    font-size: $header-other-size;
    color: $header-other-color;
    font-weight: $header-other-weight;
    letter-spacing: $header-other-letter-spacing;
    line-height: 1;
    text-transform: $header-other-text-transform;
    padding-bottom: 20px;
  }
  .footerlogo,
  .contactdetails {
    text-align: center;
  }

}

.toTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $toTop-bg-color;
  float: right;
  text-align: center;
  margin: 0;
  #hreftotop {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: $toTop-color;
    font-size: 2em;
    padding: 0 4px;
    &:hover {
      opacity: 0.7;
    }
    i {
      line-height: 50px;
    }
  }
}

.frm_forms.frm_style_formidable-style.with_frm_style {
  margin: 0 auto;
}

.widget-wrapper {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 10px 0;
  background-color: transparent;
}

.footerdetails {
  position: relative;
  width: $footerwidget-widget-text-width;
  min-width: $footerwidget-widget-text-min-width;
  margin: 0 auto;
  text-align: center;
}

.footercontact {
  color: $footercontact-color;
  padding-left: $footercontact-padding-left;
  text-align: $footercontact-text-align;
  i {
    color: $footercontact-color;
    width: $footercontact-icon-width;
  }
}

.footericon {
  position: relative;
  width: 100%;
  top: $footericon-top;
  background-color: $footerbottomcontainer-bg-color;
  text-align: center;
}

.footericon img {
  max-width: auto;
}

.copyright {
  padding: 10px 0;
  text-align: center;
  float: none;
  a {
    color: $copyright-color;
    font-size: $copyright-font-size;
    background-size: cover;
    height: 35px;
    line-height: 35px;
    padding: 0 35px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1140px) {

  #footerbottomcontainer {
    padding: 10px;
  }
}

@media (max-width: 650px) {
  #footer_widget .textwidget {
    padding: 0;
    left: 0;
    width: 100%;
  }

  #footer_widget.grid {
    border-top: none;
  }
  .footercontact {
    padding-left: 0;
    margin: 0 auto;
    width: 100%;
  }

  .toTop {
    margin-right: 10px;
  }
  .footericon {
    width: 100%;
  }

  .copyright {
    float: none;
    text-align: center;
  }

}
