
.headercontainer,
.headermenucontainer {
    width: $main-width;
    position: relative;
}

.headertopcontainer {
    background-color: $headertopcontainer-bg-color;
    color: $headertopcontainer-color;
}

.headercontainer {
    background-color: $headercontainer-bg-color;
    padding: $headercontainer-padding;
}

.headermenucontainer {
    //background-color: $headermenucontainer-bg-color;
    background: linear-gradient(90deg, #89253e, #271d40);
}


.top-menu {
    margin: 5px 0;
    font-size: $body-size;
    li a {
        color: $headertopcontainer-color;
        font-size: $top-menu-size;
        &:hover {
            color: $headertopcontainer-color-hover;
        }
    }
}

#logo {
    .small-logo {
        top: 0;
        img {
            width: 150px;
        }
    }
}

.top-widget {
    font-size: 1em;
    padding: 5px 3px 0 0;
    font-weight: $header-top-widget-weight;
    a {
        color: $header-top-widget-color;
    }
    ul {
        list-style-type: none;
    }
}

.topcontact {
    float: right;
    text-align: right;
    margin-right: 0;
    width: $topcontact-width;
    ul{
        margin: $topcontact-ul-margin;
        li{
            display: $topcontact-li-display;
        }
    }
    i {
        width: $topcontact-icon-width;
    }
}


/*widget_search*/
#searchsubmit {
    height: $mainmenu-header-height;
    vertical-align: top;
    cursor: pointer;
    background-color: $widget-search-bg-color;
    border: none;
    box-shadow: none;
    color: $widget-search-color;
    width: $mainmenu-header-height;
}

.headersearch {
    position: relative;
    float: right;
    form {
        margin: 0;
    }
    .inputsearch_area {
        background-color: $inputsearch-bg-color;
        opacity: 1;
        padding: 10px;
        position: absolute;
        top: $mainmenu-header-height;
        right: 0;
    }
    input {
        position: relative;
        box-shadow: none;
        color: $inputsearch-input-color;
        border-radius: 0;
        border: none;
        background-color: $inputsearch-input-bg-color;
        font-family: $body-family;
        opacity: 1;
        height: 40px;
    }
    #searchsubmit {
        height: $mainmenu-header-height;
        padding: 0 20px;
        color: $searchsubmit-color;
        background-color: transparent;
        border: none;
        border-bottom: $searchsubmit-border-bottom;
        &:hover {
            border-bottom: $searchsubmit-border-hover-bottom;
            cursor: pointer;
        }
    }
}

.widget_search input {
    height: 40px;
}
@media (max-width: 1150px) {
    #logo{
        margin-left:10px;
    }
    .topcontact{
        margin-right: 10px;
    }
}
@media (max-width: 1040px) {

    .top-menu {
        margin: 5px 10px;
    }
}

@media (max-width: 650px) {
    .headercontainer {
        background-color: $headercontainer-mobile-bg-color;
    }
    .headersearch #searchsubmit {
        position: absolute;
        right: 0px;
        height: 40px;
    }

    .headersearch .inputsearch_area {
        top: 40px;
        background-color: $inputsearch-bg-color;
    }

    #logo {
        position: relative;
        top: 0;
        padding-bottom: 0;
    }

    .topcontact {
        float: none;
        text-align: center;
        width: 100%;
    }
}

/*end widget_search*/
