h1, h1 a {
  font-family: $header-family;
  font-size: $header1-size;
  color: $header-color;
  font-weight: $header-weight;
  letter-spacing: $header-letter-spacing;
  line-height: 1;
  text-transform: $header1-text-transform;
}

h2, h2 a {
  font-family: $header-family;
  font-size: $header2-size;
  color: $header-color;
  font-weight: $header-weight;
  letter-spacing: $header-letter-spacing;
  line-height: 1;
  text-transform: $header2-text-transform;
}

.widget-title h3,
.widget-title-home h3,
h3, h4, h5, h6,
h3 a, h4 a, h5 a, h6 a {
  font-family: $header-other-family;
  font-size: $header-other-size;
  color: $header-other-color;
  font-weight: $header-other-weight;
  letter-spacing: $header-other-letter-spacing;
  line-height: 1;
  text-transform: $header-other-text-transform;
}

h1, h2, h3, h4, h5, h6 {
  a {
    font-size: 1em;
  }
}