html {
  width: $main-width;
}

body {
  width: $main-width;
  font-family: $body-family;
  font-size: $body-size;
  color: $body-color;
  font-weight: $body-weight;
  letter-spacing: $body-letter-spacing;
  background-color: $body-bg-color;
}

input, select {
  -webkit-border-radius: 0;
  font-weight: $body-weight;
  font-family: $body-family;
  background: transparent;
}
//breadcrumb settings
#breadcrumbs {
  margin: 0;
}
.breadcrumb-list {
  font-size: $breadcrumb-fontsize;
  padding: $breadcrumb-padding;
}
a {
  color: $a-color;
  font-weight: $body-weight;
  &:hover {
    color: $a-hover-color;
    text-decoration: $a-hover-decoration;
  }
}

hr {
  margin: 10px 0;
}

ol.list-unstyled,
ul.list-unstyled {
  list-style: none;
}

.scrolloff {
  pointer-events: none;
}

#content, #content-blog, #content-archive, #content-full {
  margin-bottom: 0;
  margin-top: 0
}

#container {
  max-width: $container-size;
  padding: 0;
}

#fullcontainer {
  width: $main-width;
  position: relative;
}

#wrapper {
  margin: 0 auto;
  padding:0 10px;
  border: none;
}

#respond {
  background-color: transparent;
  border: none;
  background-image: none;
}
/*google maps margin bottom fix*/
.wpb_gmaps_widget.wpb_content_element{
  margin-bottom: 0;
}
/*fix for embedded videos in visual composer*/
#wrapper .wpb_video_wrapper a {
  position: absolute;
  top: 0;
}

.clear{
  clear:both;
}

@media (max-width: 650px) {
  html, body {
    overflow-x: hidden;
  }
  .mega-hide_mobile,
  .hide_mobile {
    display: none !important;
  }
}

@media (min-width: 650px) {
  .mega-hide_desktop,
  .hide_desktop {
    display: none !important;
  }
}