/*landingsitems*/
.quickmenu {
  background-color: $quickmenu-bg-color;
  color: $quickmenu-color;
  text-decoration: none;
  display: block;
  font-size: $quickmenu-font-size;
  font-weight: $quickmenu-font-weight;
  line-height: 1em;
  margin: 0;
  padding: 10px;
  border-radius: 0;
  text-align: left;
}

#widgets ul.doormatlisting {
  list-style-type: none;
  margin: 0;
  > li {
    margin-bottom: 5px;
    min-width: 245px;
    text-align: left;
    width: 100%;
    &:before {
      color: $quickmenu-color;
      content: $quickmenu-before-content;
      float: left;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 1em;
      margin-right: 20px;
    }
  }
  li {
    padding-bottom: 8px;
    padding-top: 8px;
  }
  ul.children {
    display: block;
    list-style-type: none;
    margin-left: 0px;
    li {
      z-index: 5;
      margin-left: 20px;
      &:before {
        color: $quickmenu-color;
        content: $quickmenu-before-child-content;
        float: left;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 1em;
        margin-right: 10px;
      }
    }
  }
  a {
    color: $quickmenu-color;
    display: block;
    font-weight: $quickmenu-font-weight;
    height: 100%;
    width: 100%;
  }
  li.current_page_ancestor,
  li.current_page_item,
  li:hover {
    opacity: 1;
  }
  li.current_page_ancestor > a,
  li.current_page_item > a,
  li:hover:before,
  li:hover > a {
    color: $quickmenu-hover-color;
    cursor: pointer;
    text-decoration: normal;
  }
  li.current_page_ancestor > a,
  li.current_page_item > a,
  li.current_page_item:before {
    color: $quickmenu-hover-color;
  }
}

/*end landingitems */