/*Doormatmenu*/
.header-menu {
  list-style-type: none;
  padding: $footermenu-header-padding;
  padding-left: 0;
  margin: 0;
  > li {
    display: block;
    text-align: center;
    float: left;
    position: relative;
    width: $footermiddlecontainer-listitem-width;
    max-width: $footermiddlecontainer-listitem-maxwidth;
    padding: $footermiddlecontainer-listitem-padding;
    > a {
      background-color: $footermiddlecontainer-listitem-header-bg-color;
      background-position: center bottom;
      background-repeat: no-repeat;
      padding-top: $footermiddlecontainer-listitem-header-padding-top;
      padding-bottom: $footermiddlecontainer-listitem-header-padding-bottom;
      display: block;
      text-align: center;
      border-left: medium none;
      font-weight: $footermiddlecontainer-listitem-header-font-weight;
      font-size: $footermiddlecontainer-listitem-header-font-size;
      color: $footermiddlecontainer-listitem-header-color;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  ul.sub-menu {
    padding: 0;
    margin: 0 auto;
    width: $footermiddlecontainer-submenu-width;
    list-style-type: none;
    li {
      text-align: $footermiddlecontainer-listitem-text-align;

      a {
        display: block;
        box-shadow: none;
        text-shadow: none;
        background-image: none;
        position: relative;
        background-color: $footermiddlecontainer-listitem-bg-color;
        color: $footermiddlecontainer-listitem-color;
        margin: $footermiddlecontainer-listitem-margin;
        padding: $footermiddlecontainer-subitem-padding;
        border: $footermiddlecontainer-listitem-border;
        border-radius: 0;
        text-transform: none;
        font-size: $footermiddlecontainer-listitem-font-size;
        font-weight: $footermiddlecontainer-listitem-font-weight;
        line-height: 1;

        &:hover {
          text-shadow: none;
          background-image: none;
          background-color: $footermiddlecontainer-listitem-hover-bg-color;
          color: $footermiddlecontainer-listitem-hover-color;
          text-decoration: $footermiddlecontainer-listitem-hover-text-decoration;
          border: $footermiddlecontainer-listitem-hover-border;
          &:before {
            text-decoration: none;
          }
        }

        &:before {
          content: $footermiddlecontainer-listitem-before-content;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          line-height: 1;
          float: $footermiddlecontainer-listitem-before-float;
          padding-right: $footermiddlecontainer-listitem-before-paddingright;
        }
      }

    }
  }
}

@media (max-width: 800px) {
  .header-menu > li {
    width: 48%;
  }
}

@media (max-width: 650px) {

  #footermiddlecontainer .header-menu > li,
  .header-menu > li {
    float: none;
    margin: 10px auto;
    width: 98%;

  }
}

/*end doormatmenu*/