.menu {
  ul.sub-menu {
    min-width: 100%;
    position: absolute;
    margin: 0;
  }
  .sub-menu li {
    padding: 0;
    margin: 0;
    opacity: $mainmenu-submenu-opacity;
    text-align: left;
    border: none;
    background: $mainmenu-submenu-background;
    a {
      padding: 0 40px;
      margin: 0;
      color: $mainmenu-submenu-item-color;
      display: block;
      width: auto;
      height: auto;
      line-height: $mainmenu-header-height;
      background: $mainmenu-submenu-background;
      border-bottom: $mainmenu-submenu-border-bottom;
    }
  }
}

/*start main menu*/

.main-nav {
  margin: 0;
  max-width: 100%;
  clear: none;
  float: left;
  text-align: left;
  height: $mainmenu-header-height;
  width: $mainmenu-header-width;
  .menu {
    display: table;
    width: 100%;
    background-color: $mainmenu-header-bg-color;
    background-image: none;
    > li {
      background-color: $mainmenu-header-bg-color;
      display: table-cell;
      float: none;
      text-align: center;
      > a {
        background-color: $mainmenu-header-bg-color;
      }
    }
    > li:hover > a,
    > .current_page_item > a,
    > li.current-menu-ancestor > a {
      background-color: $mainmenu-header-hover-bg-color;
      background-image: none;
      color: $mainmenu-header-hover-color;
      text-decoration: none;
      border-bottom: $mainmenu-header-hover-border-bottom;
    }
    a {

      font-size: $mainmenu-header-font-size;
      font-weight: $mainmenu-font-weight;
      text-shadow: none;
      text-transform: none;
      border: none;
      line-height: $mainmenu-item-height;
      height: $mainmenu-item-height;
      text-transform: $mainmenu-text-transform;
    }
    .sub-menu li.current-menu-item a {
      color: $mainmenu-submenu-item-hover-color;
    }
    li li a:hover,
    li li:hover {
      color: $mainmenu-submenu-item-hover-color;
      background: $mainmenu-submenu-item-hover-background;
    }
  }

  .menu > a:hover,
  .menu .sub-menu li.current-menu-item > a,
  .menu .sub-menu li:hover > a {
    color: $mainmenu-submenu-item-hover-color;
    border-bottom: $mainmenu-submenu-item-hover-border-bottom;
  }
}

#mega-menu-wrap-sub-header-menu #mega-menu-sub-header-menu li.mega-menu-item,
#mega-menu-wrap-sub-header-menu #mega-menu-sub-header-menu a.mega-menu-link {
  white-space: nowrap;
}

/*end main menu*/

/*max mega menu settings */
.headermenucontainer #mega-menu-wrap-sub-header-menu {
  float: left;
  width: $mainmenu-header-width;
}

.mega-sub-menu > li > ul.mega-sub-menu > li.mega-menu-item a.mega-menu-link:before {
  content: $mainmenu-maxmegamenu-secondlevel-before-content;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

/* uncomment deze sectie indien menu achtergrond in mobile wit is.*/
@media (min-width: 651px) {
  .js .main-nav a#responsive_menu_button {
    display: none;
  }
}

@media (max-width: 650px) {
  .main-nav {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 0;
    clear: both;
    float: none;
    height: auto;
  }
  #mega-menu-wrap-sub-header-menu #mega-menu-sub-header-menu li.mega-menu-item,
  #mega-menu-wrap-sub-header-menu #mega-menu-sub-header-menu a.mega-menu-link {
    white-space: normal;
  }
  .headermenucontainer #mega-menu-wrap-sub-header-menu,
  .main-nav {
    width: 100%;
  }

  .main-nav .menu {
    display: inline-block;
    width: 100%;
  }

  .main-nav ul.menu > li {
    float: left;
    display: block;
  }
  /* uncomment deze sectie indien menu achtergrond in mobile wit is.*/
  .js .main-nav a#responsive_menu_button {
    background: url('/wp-content/themes/het-online-recept/core/images/select-icons.png') 0 -40px no-repeat;
    cursor: pointer;
    display: block;
    height: 30px;
    left: 100%;
    margin-left: -30px;
    position: absolute;
    top: 0;
    width: 23px;
  }

  .js .main-nav #responsive_current_menu_item {
    color: $mainmenu-header-color;
  }

  .js .main-nav #responsive_current_menu_item:hover {
    color: $mainmenu-header-color;
  }

  .js .main-nav {
    height: auto;
    background-image: none;
    background-color: $mainmenu-header-bg-color;
    background-image: none;
    color: $mainmenu-header-color;

  }
  .js .main-nav .menu li:hover {
    border-bottom: none;
  }
  .js .main-nav .menu li.current_page_item,
  .js .main-nav .menu .current-menu-item > a,
  .js .main-nav .menu .current_page_item > a,
  .js .main-nav .menu li > a:hover,
  .js .main-nav .menu > li > a:hover,
  .js .main-nav .menu li li > a:hover {
    background-color: $mainmenu-mobile-hover-bg-color;
    background-image: none;
    color: $mainmenu-mobile-hover-color;
    border-bottom: $mainmenu-mobile-hover-border-bottom;
  }
  .js .main-nav .menu li a,
  .js .main-nav .menu li li a,
  .js .main-nav .menu a {
    background-color: $mainmenu-mobile-bg-color;
    background-image: none;
    color: $mainmenu-mobile-color;
    border-bottom: $mainmenu-mobile-border-bottom;
  }
}
