/* paging start */
.nav-links {
    width: 100%;
    text-align: center;
    display: block;
}

.navigation {
    .page-numbers {
        display: inline-block;
        padding: 10px 20px;
        margin: 0 2px 0 0;
        border: $paging-border;
        color: $paging-color;
        line-height: 1;
        text-decoration: none;
        border-radius: 2px;

    }
    .page-numbers.current,
    .page-numbers:hover {
        color: $paging-hover-color;
    }
    .page-numbers.prev {
        float: left;
    }
    .page-numbers.next {
        float: right;
    }
}

/* paging end */