.headerDiv {
  background-color: $popupheader-backgroud-color;
  height: $popupheader-height;
  padding: $popupheader-padding;
  h3 {
    color: $popupheader-color;
    margin-top: 0;
    text-align: center;
    font-size: $popupheader-font-size;
    margin-top: 0.4em;
  }
}

.lijstDiv {
  margin: $popuplijst-margin;
  ul {
    list-style-type: none;
    padding-left: 0.5em;
    li {
      padding-bottom: 10px;
      display: flex;
      &:before {
        content: $popuplijst-vink-icon;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $popuplijst-vink-color;
        padding-right: 12px;
      }
    }
  }
}

.buitenDiv {
  button {
    width: $popup-button-width;
    bottom: 10px;
    left: 0;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
}

#sgcboxContent {
  box-shadow: $popup-boxshadow;
}

#sgcolorbox {
  left: 1560px !important;
}

#sgcboxBottomRight,
#sgcboxBottomLeft,
#sgcboxBottomCenter,
#sgcboxMiddleRight,
#sgcboxTopCenter,
#sgcboxTopRight,
#sgcboxTopLeft,
#sgcboxMiddleLeft {
  background-image: none !important;
}