body .lshowcase-logos {
  padding: 0 10px;
  .lshowcase-wrap-normal {
    padding: 20px;
  }
  .lshowcase-boxInner-normal {
    padding: 10px 35px;
  }
  .bx-wrapper .bx-controls-direction a {
    text-indent: 0;
    z-index: 999;
    color: transparent;
  }
  .bx-wrapper {
    .bx-prev,
    .bx-next {
      background: none;
      color: #fff;
      height: 32px;
      width: 32px;
      line-height: 32px;
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 32px;
        padding-right: 10px;
        display: inline-block;
        color: $logos-buttons-color;
      }
      &:hover:before {
        color: $logos-buttons-hover-color;
      }
    }
    .bx-prev:before {
      content: $logos-buttons-left-content;
    }
    .bx-next:before {
      content: $logos-buttons-right-content;
    }
  }
}

