/*start social media icons*/
#leftroundedcircle {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  .social-icons {
    display: table;
    background: $socialicons-left-background;
    border-bottom: $socialicons-left-border-bottom;
    width: 54px;
    padding-top: 5px;
    li {
      float: left;
      width: 38px;
      height: 38px;
      border-radius: 19px;
      background: transparent none repeat scroll 0 0;
      margin: 7px;
      line-height: 38px;
      &:hover {
        background: $socialicons-left-hover-background;
      }
      a {
        font-size: $socialicons-left-font-size;
        color: $socialicons-left-color;
        padding-left: 0;
        padding-top: 0;
        i {
          line-height: 38px;
        }
        &:hover {
          color: $socialicons-left-color-hover;
        }

      }
    }
  }
}

div.socialicons {
  display: table;
  margin: 0 auto;
}

.social-icons {
  list-style: outside none none;
  text-align: center;
  margin: 0;
  padding-left: 0;
  li {
    display: inline-block;
    float: none;
    height: 32px;
    line-height: 37px;
    margin: 10px;
    width: 32px;
    border-radius: 16px;
    background-color: $socialicons-bottom-bg-color;
    &:hover {
      background: $socialicons-bottom-hover-bg-color;
    }
    a {
      display: block;
      font-size: $socialicons-bottom-font-size;
      width: 100%;
      height: 100%;
      color: $socialicons-bottom-color;
      &:hover {
        color: $socialicons-bottom-hover-color;
      }
    }
  }
}

.socialicons .twitter-icon:hover {
  background-color: #0599c9;
}

.socialicons .facebook-icon:hover {
  background-color: #436eac;
}

.socialicons .linkedin-icon:hover {
  background-color: #2e8cc2;
}

.socialicons .youtube-icon:hover {
  background-color: #e32215;
}

.socialicons .rss-feed-icon:hover {
  background-color: #ec7523;
}

#footer .social-icons li a span {
  display: inline-block;
  height: 36px;
  width: 36px;
}

#footer .social-icons li a:hover span {
  opacity: 0.7;
}

#footer .facebook-icon,
#footer .foursquare-icon,
#footer .google-plus-icon,
#footer .googleplus-icon,
#footer .instagram-icon,
#footer .linkedin-icon,
#footer .pinterest-icon,
#footer .rss-feed-icon,
#footer .rss-icon,
#footer .stumble-upon-icon,
#footer .stumbleupon-icon,
#footer .twitter-icon,
#footer .vimeo-icon,
#footer .yelp-icon,
#footer .youtube-icon {
  display: inline-block;
  margin: 0;
  padding-left: 0;
}

/*end social media icons*/

@media (max-width: 1200px) {
  #leftroundedcircle {
    display: none;
    visibility: hidden;
  }
}