#widgets .widget_categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#widgets .with_frm_style .frm_submit {
  text-align: center;
  input {
    min-width: 250px;
  }
}

#widgets ul,
#widgets ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}