/**
WOOCOMMERCE
 */

/* Cart page */
.woocommerce {
    form {
        .form-row, textarea {
            input.input-text {
                box-shadow: none;
            }
        }

        div {
            margin-bottom: 0;
        }
    }

    table, td, th {
        border: $border-cart-page-border;
    }

    .shop_table {
        .order-total,
        .cart-subtotal,
        th.cart {
            background-color: $woo-table-header-background;
        }
    }

    table.cart {
        th {
            background-color: $woo-table-header-background;
        }
    }

    table.shop_table {

        td{
            padding:10px 20px;
            &.actions {
                padding: 10px;
            }
        }

    }
}

#coupon_code {
    min-width: 150px;
}

.shipping-calculator-form {
    button {
        &:after {
            display: none;
        }
    }
}

.woocommerce-cart {

    table.cart {
        .product-remove {
            width: 20px;
        }

        .product-price,
        .product-quantity,
        .product-subtotal {
            width: 120px;
        }

        .product-thumbnail {
            width: 32px;
        }
    }

    .wc-proceed-to-checkout {
        float: right;
    }
}

/* Responsive */

/* Tablet portrait / Phone landscape */
@media (max-width: 768px) { 
    .woocommerce-cart table.cart {
        .product-price,
        .product-quantity,
        .product-subtotal,
        .product-remove {
            width: auto;
        }
    } 
}

/* End cart page */