
/* Checkout page */

.woocommerce-privacy-policy-text {
    display: inline-block;
    float: left;
    line-height: 3;
    text-align: center;
}

.woocommerce {
    form {
        .form-row {
            label {
                color: $woo-checkout-form-headers;
            }
            
            label.checkbox {
                display: inline-block; 
            }
            
            input.input-text {
                color: $woo-checkout-form-color;
                border: $woo-checkout-form-border;
            }
        }
    }

    #respond {
        input#submit.alt {
            background-color: $main-color;
            text-align: center;
        }
    }

    a.button.alt, button.button.alt, input.button.alt {
        color: $woo-checkout-order-button-color;
        background-color: $woo-checkout-order-button-background;
        border: $woo-checkout-order-button-border;
        text-align: center;
        
        &:hover {
            color: $woo-checkout-order-button-hover-color;
            background-color: $woo-checkout-order-button-hover-background;
            border: $woo-checkout-order-button-hover-border;
        }
    }
}