/**
WOOCOMMERCE
 */

.woocommerce {

    #review_form #respond .form-submit input,
    a.shipping-calculator-button,
    .woocommerce-shipping-calculator button.button,
    .cart .button,
    .cart input.button,
    #respond input#submit.disabled,
    #respond input#submit:disabled,
    #respond input#submit:disabled[disabled],
    a.button.disabled,
    a.button:disabled,
    a.button:disabled[disabled],
    button.button.disabled,
    button.button:disabled,
    button.button:disabled[disabled],
    input.button.disabled,
    input.button:disabled,
    input.button:disabled[disabled],
    #review_form #respond .form-submit input:hover,
    a.shipping-calculator-button:hover,
    .woocommerce-shipping-calculator button.button:hover,
    .cart .button:hover,
    .cart input.button:hover,
    #respond input#submit.disabled:hover,
    #respond input#submit:disabled:hover,
    #respond input#submit:disabled[disabled]:hover,
    a.button.disabled:hover,
    a.button:disabled:hover,
    a.button:disabled[disabled]:hover,
    button.button.disabled:hover,
    button.button:disabled:hover,
    button.button:disabled[disabled]:hover,
    input.button.disabled:hover,
    input.button:disabled:hover,
    input.button:disabled[disabled]:hover {
        padding: 0;
        font-weight: $woo_font_bold;
        text-decoration: underline;
        background: none;
        transition: 0.5s all ease-in-out;
    }

    p, form, table {
        margin: 1em 0;
    }

    a {

    }

    form {
        .form-row input.input-text, .form-row textarea {
            border: 1px solid $main-color;
        }
    }


    ul.products {
        li.product {
            .woocommerce-loop-category__title {
                width: 100%;
                padding: .5em 0;
                font-size: 100%;
                background-color: $main-color;
                color: $sub-color;
            }
        }

        li.product.product-category {
            min-height: auto;
        }

        li.product {
            .button {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: 0;
                padding: $woo-loop-button-height 0;
                color: $woo-loop-button-color;
                background-color: $woo-loop-button-background;
                border-radius: 0; 
                text-align: center;
                font-weight: $woo-loop-button-weight;
                font-size: $woo-loop-button-size;
            }
        }
    }
}

.breadcrumb-list {
    padding: 1em 0em 5em 0em;
    margin: 0px
}

a.mega-icon {
    padding-right: 15px;
}

dfn, ins {
    border: none;
}

.bullets {
    ul.sellingpoints {

        width: 100%;
        margin: 0;
        padding: 30px 0;
        list-style-type: none;
        display: inline-block;
        border-top: $woo-banner-border;
        border-bottom: $woo-banner-border;

        li {
            float: left;
            min-width: 24%;
            padding: 5px;
            line-height: 1;
            text-align: center;
            margin: 0;
            font-weight: $woo-banner-font-weight;
            font-size: $woo-banner-font-size;

            br {
                display: none;
            }

            &:before {
                content: $woo-banner-icon;
                font-family: 'Font Awesome 5 Free';
                color: $woo-banner-font-color;
                font-size: $woo-banner-icon-font-size;
                margin-right: 20px;
            }
        }
    }
} 

/* End standard WooCommerce */
