/* Category page */
mark {
    .count {
        color: $white;
        background-color: transparent;
    }
}

.term-description {
    margin: 1em 0em;
    font-size: $woo-font-size-medium;
    font-weight: $woo_font_normal;
}

/* End category page */

/* Facetwp filter */
.woocommerce {
    .noUi-connect {
        background: $woo-filter-background;
    }

    .facetwp-counts {
        width: 100%;
        text-align: center;
    }

    .filter-wrapper {
        float: left;
        width: 86%;
    }

    .filter-title {
        font-size: $woo-filter-header-font-size;
        font-weight: $woo-filter-header-font-weight;
    }

    .facetwp-facet.facetwp-facet-categorieen.facetwp-type-checkboxes {
        width: 100%;
    }

    .facetwp-checkbox {
        padding-left: 20px;
    }

    .facetwp-selection-label {
        display: none;
    }

    .filter-selection {
        display: inline-block;
        float: left;
        width: 100%;

        ul {
            padding: 0;
            margin: 0;
        }

        .facetwp-selections {
            .facetwp-selection-value {
                padding: 5px 20px 5px 10px;
                margin-top: 5px;
                background-color: $woo-filter-selection-background;
                background-position: 97.5%;
                color: $woo-filter-selection-color;
            }
        }

        .reset-filters {
            float: left;
            padding: 0px 10px;
            visibility: hidden;
            line-height: 2;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

/* End Facetwp filter*/

/* List items products */
.woocommerce {
    .page-product{
        .products {
            margin: 0 0 1em;
        }
    }

    ul.products {
        margin: 50px 0 0 5em;

        li.products {
            min-width: 175px;
        }

        li.product {
            box-sizing: border-box;
            border: $woo-loop-border;
            transition: $woo-loop-border-hover-transition;
            min-height: $woo-loop-height;
            text-align: center;

            &:hover {
                border: $woo-loop-border-hover;
                transition: $woo-loop-border-hover-transition;
            }

            a {
                img {
                    margin: 0;
                }
            }

            .star-rating {
                position: absolute;
                bottom: 110px;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                font-size: $woo-loop-stars-size;
            }

            .woocommerce-loop-product__title {
                position: absolute;
                bottom: 75px;
                width: 100%; 
                margin: 0;
                color: $woo-loop-title-color;
                font-size: $woo-loop-title-size;
                font-weight: $woo-loop-title-weight;
            }

            .price {
                position: absolute;
                bottom: 65px;
                width: 100%;
                text-align: center;
                font-weight: $woo_font_bold;

                ins {
                    color: $woo-loop-price-sale-color;
                }
            }
        }
    }

    .related {
        ul.products {
            float: left;
            width: 100%;
            margin: 0;
        }
    }
}

/* List products Responsive */


@media (max-width: 980px) {

    .woocommerce {
        nav.woocommerce-pagination {
            text-align: center;
            float: right;
            clear: both;
            width: 65%;
            padding: 25px 0;
        }

        ul.products.columns-3 {
            li.product {
                width: 46%;
            }
        }

        ul.products {
            li.first {
                clear: none;
            }
        }

        ul.products {
            li.last {
                margin: 0 3.8% 2.992em 0;
            }
        }

        ul.products {
            display: block;
            margin: 10px 0 0 0;
            width: 60%;
            float: right;
            clear: none;
        }

        .related {
            ul.products {
                float: left;
                width: 100%;
                margin: 0;
            }
        }

        .filter-wrapper {
            float: left;
            width: 55%;
        }

        .facetwp-counts {
            margin: 0 25px 0px 0px;
        }
    }
}

/* Tablet portrait / Phone landscape */
@media (max-width: 768px) {
    .woocommerce {
        .related {
            ul.products {
                float: left;
                width: 100%;
                margin: 0;

                li.product {
                    min-height: 500px;
                }
            }
        }
    }

}

@media screen and (max-width: 767px) and (min-width: 425px) {

    .woocommerce {

        ul.products[class*=columns-] {
            li.product {
                width: 47.5%;
            }
        }

        .related {
            ul.products {
                float: left;
                width: 100%;
                margin: 0;

                li.product {
                    min-height: 425px;
                }
            }
        }
    }
}


/* Mobile */
@media (max-width: 425px) {

    .woocommerce {
        ul.products {
            width: 100%;

            li.product {
                min-height: 285px;
            }
        }

        //ul.products[class*=columns-] {
        //    li.product {
        //        width: 100%;
        //    }
        //}

        nav.woocommerce-pagination {
            width: 100%;
        }

        .related {
            ul.products {
                float: left;
                width: 100%;
                margin: 0;

                li.product {
                    min-height: 325px;
                }

            }
        }

        .facetwp-counts {
            display: none;
        }

        .filter-wrapper {
            float: none;
            width: auto;
        }

    }
}


/* End list items products */
