/* Single product page */

.woocommerce {
    img {
        .attachment-full,
        .attachment-large,
        .attachment-medium,
        .attachment-thumbnail,
        .wp-post-image {
            margin: auto;
        }
    }

    h2 {
        color: $woo-main-color;
    }

    div.product {

        div.images {
            .flex-control-thumbs {
                margin: 20px 0px;

                li {
                    width: 75px;
                    padding: $woo-single-gallery-items-padding;
                    border-radius: $woo-single-gallery-items-border-radius;
                    margin: $woo-single-gallery-items-margin;
                    border: $woo-single-gallery-items-border;
                }
            }

            .woocommerce-product-gallery__trigger {
                top: 0.25em;
                right: .25em;
                background: $woo-single-gallery-trigger-background;
            }

            .woocommerce-product-gallery__trigger {
                &:before {
                    border-color: $woo-single-gallery-trigger-color;
                }
            }

            .woocommerce-product-gallery__trigger {
                &:after {
                    background: $white;
                }
            }
        }

        .product_title {
            font-size: $woo-single-title-size;
            font-weight: $woo-single-title-weight;
            color: $woo-single-title-color;
            letter-spacing: $woo-single-title-letter-spacing;
        }

        .woocommerce-product-details__short-description {
            font-size: $woo-single-summary-size;
            font-weight: $woo-single-summary-weight;
            color: $woo-single-summary-color;
            letter-spacing: $woo-single-summary-letter-spacing; 
        }

        .woocommerce-tabs {
            ul.tabs {
                margin-bottom: 0px;

                li {
                    color: $woo-single-panel-tabs-color;
                    border: $woo-single-panel-tabs-border;
                    background-color: $woo-single-panel-tabs-background;
                }

            }

            .panel {
                border-left: $woo-single-panel-border;
                border-right: $woo-single-panel-border;
                border-bottom: $woo-single-panel-border;
                padding: $woo-single-panel-padding;
                text-align: $woo-single-panel-text-align;
            }
        }
    }

    p.price, span.price {
        ins {
            color: $woo-loop-price-sale-color;
        }
    }

    .in-stock {
        &:before {
            content: $in-stock-icon;
            font-family: 'Font Awesome 5 Free';
            margin-right: 5px;
        }
    }

    .out-of-stock {
        &:before {
            content: $out-of-stock-icon;
            font-family: 'Font Awesome 5 Free';
            margin-right: 5px;
        }
    }

    .flex-viewport {
        max-height: 450px;
    }

    .comment-form-rating {
        margin: 3em 0em 2em;
    }

    p.stars {
        a {
            font-size: $woo-font-size-large;
        }
    }
    
    a.checkout-button.button.alt.wc-forward,
    div.product form.cart .button {
        font-size: $woo-single-button-size;
        color: $woo-single-button-color;
        background-color: $woo-single-button-background;
        text-align: center;
        text-decoration: none;
        padding: $woo-single-button-padding;
        width: auto;

        &:after {
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            margin-left: 10px;
            text-align: center;
            content: $woo-single-button-icon;
            font-size: $woo-font-size-large;
            position: absolute;
            right: 20px;
            top: 5px;            
        }
    }

    #review_form {
        #respond {
            textarea {
                box-shadow: none;
            }
        }
    }

    .quantity {
        .qty {
            background: $woo-single-qty-background;
            padding: $woo-single-qty-padding;
            border: $woo-single-qty-border;
            font-size: $woo-single-qty-font-size;
        }
    }
}
 
/* End single product page */